<a href="https://colab.research.google.com/github/CynF19/Modulo1-God-Mode-1/blob/main/Modulo_1_GOD_MODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def is_prime(k):
  for l in range (2,k):
    if k%l ==0:
        result= False 
        break
  if k == l + 1:
    result = True
  return (result)
is_prime(73)

True

In [ ]:
num = int(input("Ingrese un numero:"))
if num > 1:
  cont=0
  for i in range(2,num):
    resto=num%i
    print("{} % {} = {}". format (num,i,resto))
    if resto == 0:
      cont+=1
    
    i+=1
  if cont==0:
    print(num)

Ingrese un numero:73
73 % 2 = 1
73 % 3 = 1
73 % 4 = 1
73 % 5 = 3
73 % 6 = 1
73 % 7 = 3
73 % 8 = 1
73 % 9 = 1
73 % 10 = 3
73 % 11 = 7
73 % 12 = 1
73 % 13 = 8
73 % 14 = 3
73 % 15 = 13
73 % 16 = 9
73 % 17 = 5
73 % 18 = 1
73 % 19 = 16
73 % 20 = 13
73 % 21 = 10
73 % 22 = 7
73 % 23 = 4
73 % 24 = 1
73 % 25 = 23
73 % 26 = 21
73 % 27 = 19
73 % 28 = 17
73 % 29 = 15
73 % 30 = 13
73 % 31 = 11
73 % 32 = 9
73 % 33 = 7
73 % 34 = 5
73 % 35 = 3
73 % 36 = 1
73 % 37 = 36
73 % 38 = 35
73 % 39 = 34
73 % 40 = 33
73 % 41 = 32
73 % 42 = 31
73 % 43 = 30
73 % 44 = 29
73 % 45 = 28
73 % 46 = 27
73 % 47 = 26
73 % 48 = 25
73 % 49 = 24
73 % 50 = 23
73 % 51 = 22
73 % 52 = 21
73 % 53 = 20
73 % 54 = 19
73 % 55 = 18
73 % 56 = 17
73 % 57 = 16
73 % 58 = 15
73 % 59 = 14
73 % 60 = 13
73 % 61 = 12
73 % 62 = 11
73 % 63 = 10
73 % 64 = 9
73 % 65 = 8
73 % 66 = 7
73 % 67 = 6
73 % 68 = 5
73 % 69 = 4
73 % 70 = 3
73 % 71 = 2
73 % 72 = 1
73

In [ ]:
from re import I
for num in range (1,100):
  if num > 1:
    cont=0
    i=2
    while i<num and cont==0:
      resto=num%I

      if resto==0:
        cont+=1
      
      i+= 1
    if cont == 0:
      print (num)

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
numero= int(input('Ingrese un numero'))
suma =  1


while numero > 0:
  digito = numero%10
  suma = suma * digito
  numero //=10

print(f'La suma de los digitos es {suma}')

Ingrese un numero73
La suma de los digitos es 21

In [ ]:
n=int(input("Ingrese un número: "))
n1=n
c=0
while n>0:
  c=c+1
  n=n // 10
n=n1
s=0
k=c
for i in range (k):
  c=c-1
  s=n %10 * 10 ** c + s
  n=n // 10
if n1== s:
  print("Es espejo")
else:
  print("No es espejo")

Ingrese un número: 73
No es espejo

In [ ]:
def r(num):
    reversed_num = 0
    while num != 0:
        digit = num % 10
        reversed_num = reversed_num * 10 + digit
        num //= 10
    return reversed_num
r(73)

37

In [ ]:
num = 73
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 37

In [ ]:
import numpy as np

In [ ]:
arr= np.array([2,3,5,7,11,13,17,19,23,29,31,37,41,43,53,59,61,67,71,73,79,83,89,97])
np.where(arr ==73 )

(array([19]),)